 


 
<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
  <head> 
    <meta charset="utf-8"> 
    <title></title> 

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <style type="text/css">
      body{
    background-color: #0f121f;
    background-image: url(/static/assets/j.jpg);
    background-repeat-y: 
    color: black;
}



    </style>
  </head> 
  <body> 
<!-- As a link -->

<nav class="navbar navbar-dark bg-dark fixed-top scrolling-navbar">

  <form class="form-inline">
    <a class="btn btn-outline-success"href="{%url 'about'%}" >HOME</a>
    <a class="btn btn-outline-success"href="{% url 'articles:list' %}">MORE ARTICLES</a>
    
    
  </for30
</nav>

</nav>
   
      {% for new, des, i,url in mylist %} 
       


<div class="mask rgba-white-slight"></div>
                 <div class="card" style="width: 30rem;">
                      <img src="{{ i }}" alt="" class="card-img-top" >
                    <div class="card-body">
                        <h1 class="card-title">
                     <h5>HeadLine:</h5><h1> {{ new }} 
                     {{ value|linebreaks }}</h1> </h1>
                    <p class="card-text">
              <h4>Description:</h4>{{ des }} 
              {{ value|linebreaks }} </p>
    <a href="{{ url }}" class="btn btn-primary">CHECK WEBSITE</a>
  </div>
</div>

 
        {% endfor %} 
    
  
  </body> 
</html> 
